{% extends 'main/base.html' %}
{% block content %}

    <div class="container">
        <h1 class="text-center">Каталог</h1><br>
        <div class="row text-center">
            {% for object in object_list %}


                <div class="col-3">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                             data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                             alt="Card image cap">
                        <div class="card-body">
                            {{ object| truncatechars:100 }}
                            <div class="card-header">
                                <button type="button" class="btn btn-sm btn-outline-secondary">к продуктам</button>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}