{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}

    <div class="container">

        <h1 class="text-center">Каталог</h1><br>
        <div class="row text-center">

            {% for object in object_list %}


                <div class="col-3">

                    <div class="card mb-4 box-shadow">
                        <img class="bd-placeholder-img card-img-top" src="{{object.picture|mymedia}}">
                        <div class="card-body">
                            {{ object| truncatechars:100 }}
                            <div class="card-header">
                                <button type="button" class="btn btn-sm btn-outline-secondary">к продуктам</button>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}