{% extends 'main/base.html' %}
{% block content %}

    <div class="container">
        <h1 class="text-center">Каталог</h1><br>
        <div class="col-12">
            <a href="{% url 'main:product_create' %}" class="btn btn-primary mb-5"> Создать продукт</a>
        </div>
        <div class="row text-center">
            {% for object in object_list %}


                <div class="col-3">
                    <div class="card mb-4 box-shadow">

                        <div class="card-body">
                            {# {% if object.is_active %} #}
                            <p>
                                {{ object.name }}<br>
                                {{ object.discription | truncatechars:100 }}<br>


                                    {{ products.flag_of_the_current_version }}


                            </p>
                            {#  {% endif %} #}

                            <div class="card-header">
                                <a href="{% url 'main:category_products' object.pk %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">Просмотр продукта</a>
                                 <a href="{% url 'main:product_update' object.pk %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">Изменить продукт</a>
                                <a href="{% url 'main:product_delete' object.pk %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">Удалить продукт</a>

                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
